


.name {color: rgb(0, 81, 255);
text-align: center; margin-top: 0px;
padding: 0px;} 






h4{color: hsl(241, 100%, 50%);
background-color: #808080;}


.alignleft {float: left;}
.alignright {float: right;} 

.alignleft2 {float: left;}
.alignright2 {float: right;} 

.alignleft3 {float: left;}
.alignright3 {float: right;}

.alignleft4 {float: left;}
.alignright4 {float: right;}

.alignleft5 {float: left;}
.alignright5{float: right;}  <div style="clear: both;"></div>

.alignleft6 {float: left;}
.alignright6{float: right;}


.alignleft7{float: left;}
.alignright7{float: right;}

.alignleft8{float: left;}
.alignright8{float: right;}

.alignleft9{float: left;}
.alignright9{float: right;}

.alignleft10{float: left;}
.alignright10{float: right;}

.alignleft11{float: left;}
.alignright11{float: right;}

.alignleft12{float: left;}
.alignright12{float: right;}

.alignleft13{float: left;}
.alignright13{float: right;}

.alignleft14{float: left;}
.alignright14{float: right;}

.alignleft15{float: left;}
.alignright15{float: right;}

.alignleft16{float: left;}
.alignright16{float: right;}

.alignleft17{float: left;}
.alignright17{float: right;}
